<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SAMS</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <div class="main-container">
    <%- include("header.ejs") %>

    <% if(locals.user){ %>
      <h2 class="main-h">Welcome <%= user.full_name %></h2>
      <% }else{ %>
      <h2 class="main-h">Welcome to SAMS</h2>
      <%}%>

      <div class="attendance">
        <div class="t-a">
          <h2>Teacher Atttendance</h2>
    <table>
      <tr>
        <th>Teacher Name</th>
        <th>Phone</th>
        <th>Role</th>
        <% if(locals.user?.role==="principal"){ %>
        <th>Actions</th>
        <% } %>
      </tr>
      <% teachers.forEach(t=>{ %>
        <tr>
          <td> <%= t.full_name%> </td>
          <td> <%= t.phone%> </td>
          <td> <%= t.role%> </td>
          <% if(locals.user?.role==="principal"){ %>
          <td> <a href="/delete<%= t.tsc_no%>"> Delete </a></td>
          <% } %>
        </tr>
      <% }) %>
    </table>

        </div>
        <div class="s-a">
          <h2>Student Atttendance</h2>
          <table>
            <tr>
              <th>Reg No</th>
              <th>Student Name</th>
              <th>Class</th>
            </tr>
            <% for(let index = 0; index<students.length; index++){ %>
              <tr>
                <td><%= students[index].reg_no %></td>
                <td><%= students[index].fullname %></td>
                <td><%= students[index].class %></td>
              </tr>
            <%}%>
          </table>
        </div>
      </div>
    
  


    <!-- <h2><%= //numberOfStudents %> Students</h2> -->

    <!-- <h2><%=// presentStudents %> Present Students</h2> -->

    <!-- 7 teachers present -->
    <!-- 20 students present -->

    <!-- section absentees -- students and teachers -->

    <!-- other pages -->
    <!-- Attendance page  -->
    <!-- Permisions page  -->
    </div>
  </body>
</html>
